.checkout-container {
  display: flex;
  gap: 30px;
  padding: 30px;
}

.address-section,
.summary-section {
  background: #fde9dc;
  padding: 20px;
  border-radius: 10px;
}

.address-section {
  flex: 2;
}

.summary-section {
  flex: 1;
}

.address-card {
  display: flex;
  gap: 10px;
  padding: 15px;
  background: #fff;
  border-radius: 8px;
  margin-bottom: 15px;
  cursor: pointer;
}

.address-card input {
  margin-top: 5px;
}

.add-btn {
  /* display: inline-block; */
  margin-top: 10px;
  color: #6f3fb4;
  margin-right: 0cap;
}

.summary-item,
.summary-row {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.summary-row.total {
  font-weight: bold;
}

.pay-btn {
  width: 100%;
  padding: 12px;
  background: red;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  margin-top: 15px;
  cursor: pointer;
}