
.account-page {
  display: flex;
  min-height: 100vh;
  background: #ededed;
  padding: 30px 50px;
  gap: 30px;
}


.account-sidebar {
  width: 240px;
}

.user-info {
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  margin-bottom: 10px;
}

.menu li a {
  display: block;
  padding: 10px 14px;
  background: #fff;
  border-radius: 6px;
  text-decoration: none;
  color: #333;
}


.account-content {
  flex: 1;
  display: flex;
  justify-content: center;
}

.address-card {
  background: #fff;
  width: 760px;
  padding: 30px;
  border-radius: 8px;
}

.card-title {
  margin-bottom: 25px;
  font-size: 18px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}


.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 13px;
  margin-bottom: 5px;
  color: #555;
}

input,
textarea,
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

textarea {
  resize: none;
  height: 90px;
}

.address-type {
  margin: 15px 0;
}

.address-type label {
  margin-right: 20px;
}


.btn-row {
  display: flex;
  justify-content: flex-end; 
  gap: 15px;
  margin-top: 25px;
}

.save-btn {
  background: #000;
  color: #fff;
  padding: 10px 36px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.save-btn:hover {
  background: #222;
}

.cancel-btn {
  padding: 10px 36px;
  border: 1px solid #000;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
}

.cancel-btn:hover {
  background: #f2f2f2;
}
