/* Navbar Container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  font-family: Arial, sans-serif;
}

/* Logo */
.logo {
  font-family: 'Arial Black', sans-serif;
  font-size: 24px;
  color: black;
  margin: 0;
}

/* Navigation Links */
.nav-links {
  display: flex;
  gap: 25px;
   justify-content: flex-end; 
  align-items: center;
  padding: 0 20px;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: 500;
}

.nav-links a:hover {
  color: #ff6600;
}

/* Right Icons */
.right-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.right-icons i {
  font-size: 16px;
  cursor: pointer;
}
