
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.breadcrumb {
  padding: 15px 30px;
  background: #fbe9e7;
}

.profile-container {
  display: flex;
  max-width: 1200px;
  margin: 30px auto;
  gap: 30px;
}

.profile-sidebar {
  width: 260px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
}

.profile-menu button {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border: none;
  border-radius: 6px;
  background: #f2f2f2;
  cursor: pointer;
  font-weight: 500;
}

.profile-menu button.active {
  background: #000;
  color: #fff;
}

.profile-content {
  flex: 1;
  background: #fff;
  padding: 30px;
  border-radius: 8px;
}

.profile-section.hidden {
  display: none;
}

.profile-section label {
  display: block;
  margin-top: 15px;
  font-weight: 500;
}

.profile-section input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.row {
  display: flex;
  gap: 20px;
}

.row div {
  flex: 1;
}

.gender {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}


.card {
  border: 1px solid #ddd;
  padding: 15px;
  margin-top: 15px;
  border-radius: 6px;
}

footer {
  background: #f5e6e0;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
}


.add-address-footer {
  margin-top: 25px;
  text-align: right;
}

.add-address-btn {
  display: inline-block;
  padding: 10px 18px;
  background: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 500;
}

.add-address-btn:hover {
  background: #333;
}
.profile-image-box {
  text-align: center;
  margin-bottom: 20px;
}

.profile-image-box img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ddd;
}

.profile-image-box button {
  margin-top: 10px;
  padding: 6px 12px;
  border: none;
  background: #000;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}
