<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Sign Up - QUORA</title>
  <link rel="stylesheet" href="/css/signup.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  <link rel="stylesheet" href="/css/header.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <style>
    .error-message {
      color: red;
      font-size: 14px;
      margin-top: 4px;
      display: none;
    }
  </style>
</head>

<body>
  <header>
    <div class="navbar">
      <div class="left-section">
        <h1 class="logo">QUORA</h1>
      </div>
    </div>
  </header>

  <main class="signup-wrap">
    <div class="card">
      <div class="left">
        <img src="/images/9d1ac8e1-a5c9-4455-9736-10180866e2fe.jpeg" alt="product" />
      </div>

      <div class="right">
        <h1 class="title">Get started now</h1>
        

        <% if (typeof error !=='undefined' && error) { %>
          <div class="error">
            <%= error %>
          </div>
          <% } %>

             <form id="signform" action="/signup" method="POST" class="signup-form">
              <label>Name</label>
              <input type="text" id="name" name="name" placeholder="Enter your Name">
              <div id="error1" class="error-message"></div>

              <label>Phone Number</label>
              <input type="text" id="phone" name="phone" placeholder="Enter your phone number">
              <div id="error3" class="error-message"></div>

              <label>Email address</label>
              <input type="email" id="email" name="email" placeholder="Enter your Email">
              <div id="error2" class="error-message"></div>

              <label>Password</label>
              <!-- <input type="password" id="password" name="password" placeholder="Enter your Password"> -->
               <input type="password" id="confirm-password" name="confirmPassword" placeholder="Confirm Password">
               <div class="password-box">
               <input type="password" id="password" name="password" placeholder="Enter your Password"/>
               <i class="fa-solid fa-eye" id="togglePassword"></i>
               </div>
              <div id="error4" class="error-message"></div>

              <label>Confirm Password</label>
              <div class="password-box">
              <input type="password" id="confirm-password" name="confirmPassword" placeholder="Confirm Password"/>
              <i class="fa-solid fa-eye" id="toggleConfirmPassword"></i>
              </div>
              <div id="error5" class="error-message"></div>

              <div id="error2" class="error-message"></div>
 
               <% if (locals.message && message.length> 0) { %>
                <div class="alert alert-danger text-center">
                  <%= message %>
                </div>
                <% } %> 


                  <label class="terms">
                    <input type="checkbox" id="terms" name="terms"> I agree to the terms & policy
                  </label>

                  <button type="submit" class="btn signup-btn">SignUp</button>

                  <div class="or">OR</div>

                  <a href="/auth/google" class="btn google-btn">
                    <img src="/images/image 2.png" alt="google"> Sign in with Google
                  </a>
                 

                  <p class="have-account">Have an account? <a href="/login">Sign in</a></p>
            </form>
      </div>
      </div>
    </div>
  </main>

  <script>
    const nameid = document.getElementById("name");
    const emailid = document.getElementById("email");
    const phoneid = document.getElementById("phone");
    const passid = document.getElementById("password");
    const cpassid = document.getElementById("confirm-password");
    const signform = document.getElementById("signform");

    const error1 = document.getElementById("error1");
    const error2 = document.getElementById("error2");
    const error3 = document.getElementById("error3");
    const error4 = document.getElementById("error4");
    const error5 = document.getElementById("error5");

    function nameValidate() {
      const nameVal = nameid.value.trim();
      const pattern = /^[A-Za-z\s]+$/;
      if (nameVal === "") {
        error1.textContent = "Please enter a valid name";
        error1.style.display = "block";
        return false;
      } else if (!pattern.test(nameVal)) {
        error1.textContent = "Name can only contain alphabets and spaces";
        error1.style.display = "block";
        return false;
      }
      error1.style.display = "none";
      return true;
    }

     function emailValidate() {
    const emailVal = document.getElementById("email").value.trim();
    const error2 = document.getElementById("error2");

  
    const pattern = /^[a-zA-Z][a-zA-Z0-9._%+-]{2,}@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/

    if (!pattern.test(emailVal)) {
      error2.textContent = "Please enter a valid email (example: user@gmail.com)";
      error2.style.display = "block";
      return false;
    }
    error2.style.display = "none";
    return true;

    }
    function phoneValidate() {
      const phoneVal = phoneid.value.trim();

  
  if (!/^\d{10}$/.test(phoneVal)) {
    Swal.fire({
      icon: "error",
      title: "Invalid Phone Number",
      text: "Phone number must contain exactly 10 digits.",
    });
    return false;
  }

 
  const sequentialAsc = "01234567890123456789"; 
  const sequentialDesc = "98765432109876543210";

  if (sequentialAsc.includes(phoneVal) || sequentialDesc.includes(phoneVal)) {
    Swal.fire({
      icon: "error",
      title: "Invalid Phone Number",
      text: "Sequential phone numbers are not allowed.",
    });
    return false;
  }


  if (/^(\d)\1{9}$/.test(phoneVal)) {
    Swal.fire({
      icon: "error",
      title: "Invalid Phone Number",
      text: "Repeated digits are not allowed.",
    });
    return false;
  }

  error3.style.display = "none";
  return true;
    }

    function passwordValidate() {
      const passVal = passid.value;
      const cpassVal = cpassid.value;
      const alpha = /[a-zA-Z]/;
      const digit = /\d/;

      let valid = true;

      if (passVal.length < 8) {
        error4.textContent = "Should contain at least 8 characters";
        error4.style.display = "block";
        valid = false;
      } else if (!alpha.test(passVal) || !digit.test(passVal)) {
        error4.textContent = "Should contain both letters and numbers";
        error4.style.display = "block";
        valid = false;
      } else {
        error4.style.display = "none";
      }

      if (passVal !== cpassVal) {
        error5.textContent = "Passwords do not match";
        error5.style.display = "block";
        valid = false;
      } else {
        error5.style.display = "none";
      }

      return valid;
    }

    function termsValidate() {
      const checkbox = document.getElementById("terms");
      if (!checkbox.checked) {
        Swal.fire({
          icon: "warning",
      title: "Terms Not Accepted",
      text: "Please check the terms & policy to proceed.",
      confirmButtonColor: "#3085d6",

        })

        return false;
      }
      return true;
    }

    signform.addEventListener("submit", function (e) {
     
      const validName = nameValidate();
      const validEmail = emailValidate();
      const validPhone = phoneValidate();
      const validPassword = passwordValidate();
      const validTerms = termsValidate();

      if (!(validName && validEmail && validPhone && validPassword && validTerms)) {
        e.preventDefault(); 
        
      }
    })

  
   
    nameid.addEventListener("blur", nameValidate);
    emailid.addEventListener("blur", emailValidate);
    phoneid.addEventListener("blur", phoneValidate);
    passid.addEventListener("blur", passwordValidate);
    cpassid.addEventListener("blur", passwordValidate);
  


      document.getElementById("togglePassword").onclick = () => {
    passid.type = passid.type === "password" ? "text" : "password";
    togglePassword.classList.toggle("fa-eye");
    togglePassword.classList.toggle("fa-eye-slash");
  };

  document.getElementById("toggleConfirmPassword").onclick = () => {
    cpassid.type = cpassid.type === "password" ? "text" : "password";
    toggleConfirmPassword.classList.toggle("fa-eye");
    toggleConfirmPassword.classList.toggle("fa-eye-slash");
  };

  </script>
</body>

</html>